.pagination {

    width: 400px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 0 auto;

    button {
        width: 100px;
        padding: 10px;
        background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
        border-radius: 15px;
        font-size: 15px;
        transition: all 0.45s;

        @media (max-width:524px) {

            padding: 2px;
            opacity: 0.8;

        }

        &:hover {
            transform: scale(1.1);

        }
    }

    .pagination__prev {
        display: flex;
        justify-content: center;

        .img__prev {
            display: none;
            width: 30px;
        }




        @media (max-width:1056px) {
            position: fixed;
            top: 600px;
            left: 30px;

            .img__prev {
                display: block;

            }

            .text__prev {
                display: none;
            }
        }

        @media (max-width:868px) {
            position: fixed;
            top: 180px;
            left: 5px;

        }

        @media (max-width:524px) {
            position: fixed;
            top: 170px;
            left: 10px;
        }



    }


    .pagination__next {
        display: flex;
        justify-content: center;


        .img__next {
            display: none;
            width: 30px;

        }

        @media (max-width:1056px) {
            position: fixed;
            top: 600px;
            right: 30px;

            .img__next {
                display: block;
            }

            .text__next {
                display: none;
            }
        }

        @media (max-width:868px) {
            position: fixed;
            top: 180px;
            right: 5px;

        }

        @media (max-width:524px) {
            position: fixed;
            top: 170px;
            right: 10px;

        }
    }
}