.series {
    margin-top: 50px;
    display: flex;
  justify-content: center;
    align-items: center;
    flex-direction: column;

    .series__cards {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 260px));
        gap: 30px;

        @media (max-width:1400px) {
            grid-template-columns: repeat(2, minmax(auto, 350px));
        }

        @media (max-width:1056px) {
            grid-template-columns: repeat(1, minmax(auto, 460px));
        }

        .card {
            display: flex;
            flex-direction: column;
            text-align: center;
            color: black;
            padding: 10px;
            gap: 10px;
            background: #e0e0e0e0;
            border-radius: 40px;
            box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
            cursor: pointer;
            transition: all 1.1s;

            @media (max-width:1400px) {
                font-size: 30px;
                gap: 15px;
            }

            @media (max-width:1056px) {
                font-size: 30px;
                gap: 30px;
            }

            &:hover {
                transform: scale(1.05);


            }

            &__img {
                position: relative;
                padding: 50%;
                flex: 1 0 60%;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 110%;
                    object-fit: cover;
                    border-radius: 40px;
                }

            }

            &__title {
                margin-top: 20px;
            }
        }

    }
}