* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

nav a {
  color: white;
}

/*--------------------*/

$primary-color: white;
$primary-background-color: black;

html,
body {
  font-family: Montserrat;
  font-weight: 500;
  color: $primary-color;
  font-size: 18px;
  background-color: $primary-background-color ;
}

@function remy($pxsize) {
  @return calc(($pxsize / 18))+rem
}

[class*="_container"] {
  max-width: 1700px;
  margin: 0px auto;
  padding: 15px;

  @media (max-width:1900px) {
    max-width: 1400px;
  }
   @media (max-width:1500px) {
    max-width: 1300px;
  }

  @media (max-width:527px) {
    width: 398px;
  }
 

}


.button {
  font-family: inherit;
  color: wheat;
  font-weight: 600;
  width: 100%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}

@mixin gradient-text($angle: 135deg, $start-color: rgb(153, 169, 255), $end-color: rgb(92, 228, 207)) {
  background: linear-gradient($angle, $start-color, $end-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: capitalize;
}